{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4>Vehicle Registration</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <!-- [ page content ] start -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12" style="margin:0; padding:0">
                            <div class="card table-card" style="padding:5px 20px 20px 10px">
                                <div class="card-block">
                                    <div class="block" style="margin-left:20px">
                                        <h6>VEHICLE REGISTRATION</h6>
                                        <div class="row">
                                            <div class="col-sm-5 col-md-5 col-lg-5">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">MAKE:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">OWNER'S NAME:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">OWNER'S ADDRESS:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">VEHICLE CAPACITY:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">BODY STYLE:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">LOCATION:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">MODEL:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1"></div>
                                            <div class="col-sm-5 col-md-5 col-lg-5">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">LICENSE NO:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">OWNER'S NUMBER:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">LENGTH:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">BUSINESS:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <textarea rows="3" class="form-control" style="border:2px solid #448aff"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">COLOR:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1"></div>
                                        </div>
                                        <h6 class="mt-2">Notes/Commens/Issue with the Driver</h6>
                                        <div class="row">
                                            <div class="col-sm-11 col-md-11 col-lg-11">
                                                <input class="form-control own_input">
                                                <input class="form-control own_input">
                                                <input class="form-control own_input">
                                            </div>
                                        </div>
                                        <h6 class="mt-2">DRIVER DETAILS</h6>
                                        <div class="row">
                                            <div class="col-sm-5 col-md-5 col-lg-5">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">NAME:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">ADDRESS:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1"></div>
                                            <div class="col-sm-5 col-md-5 col-lg-5">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">PHONE NUMBER:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">LOCATION:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1"></div>
                                        </div>
                                        <h6 class="mt-2">Notes/Commens/Issue with the Driver</h6>
                                        <div class="row">
                                            <div class="col-sm-11 col-md-11 col-lg-11">
                                                <input class="form-control own_input">
                                                <input class="form-control own_input">
                                                <input class="form-control own_input">
                                            </div>
                                        </div>
                                        <h6 class="mt-2">VEHICLE DETAILS</h6>
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2">
                                                <select id="b_vehicle_registration" class="form-control form-control-primary fill col-sm-12 own_select">
                                                    <option value="1">Yes</option>
                                                    <option value="0" selected>No</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <button class="btn btn-primary" style="padding:4px 10px">Add</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5 col-md-5 col-lg-5">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">MAKE:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input vehicle_reg">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">OWNER'S NAME:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input vehicle_reg">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">OWNER'S ADDRESS:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input vehicle_reg">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">VEHICLE CAPACITY:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input vehicle_reg">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">BODY STYLE:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input vehicle_reg">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">LOCATION:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input vehicle_reg">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1"></div>
                                            <div class="col-sm-5 col-md-5 col-lg-5">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">LICENSE NO:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input vehicle_reg">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">OWNER'S NUMBER:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input vehicle_reg">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">LENGTH:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input class="form-control own_input vehicle_reg">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <p style="font-size: 10px; padding-top:0.5rem; margin-bottom:0">BUSINESS:</p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <textarea rows="3" class="form-control" style="border:2px solid #448aff"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ page content ] end -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ style Customizer ] start -->
{#<div id="styleSelector">#}
{#</div>#}
<!-- [ style Customizer ] end -->
{% endblock %}

{% block script %}
<!-- Custom js -->
<script src="{% static 'assets/pages/data-table/js/data-table-custom.js'%}"></script>
<script src="{% static 'assets/js/pcoded.min.js'%}"></script>
{#<script src="{% static 'assets/js/vertical/vertical-layout.min.js'%}"></script>#}
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#dashboard_table").DataTable();
        $('#b_vehicle_registration').on("change", function() {
            var b = this.value;
            if (b === "1"){
                $(".vehicle_reg").val("abc");
            } else {
                $(".vehicle_reg").val("");
            }
        })
    });
</script>
{% endblock %}